* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  font-family: "Josefin Slab", serif;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#userDropdown {
  display: none;
}

#userProfile {
  display: none;
}
