* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  font-family: "Josefin Slab", serif;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: space-evenly;
  background-color: rgba(238, 155, 0, 0.7);
}

#mainHeader {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em 0;
  margin: 0.5em 0;
  color: #005f73;
}

#title {
  padding: 0.5em;
  margin: 0.3em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#title h1 {
  font-size: 2rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-family: "Monoton", cursive;
}

#title p {
  font-size: 1.5rem;
}

label[for="lanSelect"] {
  font-size: 1rem;
  font-weight: bold;
  color: #005f73;
}

#user {
  margin-left: 15%;
}

#userProfile {
  align-self: flex-end;
  font-family: "Edu SA Beginner", cursive;
  font-size: 1rem;
  padding: 0.5em;
}

#signupModal p {
  font-size: 1rem;
  font-weight: bold;
  color: #005f73;
  margin-bottom: 1em;
}

#userDropdown,
#userProfile,
#essentialsDropdown {
  display: none;
}

#mainNav {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e9d8a6;
  padding: 0.5em 0;
  margin: 1em 0;
}

#essentialsBtn {
  background-color: transparent;
}

.socialMediaIcons {
  color: #3b5998;
}

#searchForm {
  display: flex;
  align-items: center;
}

#search {
  flex: 1;
}

#searchBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#searchBtn:focuse {
  outline: none;
}

#magnifyingGlass {
  display: inline;
}

.navTxt,
#search::placeholder {
  font-size: 1.2rem;
  font-weight: bold;
  color: #005f73;
}

.card {
  background-color: rgba(0, 0, 0, 0.162);
  height: 650px;
  padding: 3%;
  border: 2px solid black;
}

.card-image img {
  max-width: 100%;
  height: 25vh;
  object-fit: cover;
}

.card-content,
.title {
  max-height: initial;
  font-size: 16px;
  color: rgb(17, 12, 12);
  text-align: left;
  line-height: 25px;
}

.slider {
  position: relative;
  background: #000116;
  width: 90%;
  min-height: 70vh;
  margin: 20px;
  margin-left: 5%;
  overflow: hidden;
  border-radius: 10px;
  border: 5px solid white;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide img {
  position: absolute;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  transform: scale(1.2);
  transition: 2s;
}

.sliderContent {
  position: absolute;
  color: #222;
  background: rgba(255, 255, 255, 0.9);
  width: 80%;
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  border-radius: 5px;
  transition: 0.7s;
}

.sliderContent h2 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 40px;
}

.sliderContent p {
  font-size: 20px;
  font-weight: 20;
  line-height: 35px;
  font-weight: 400;
}

.news {
  background-color: rgba(0, 0, 0, 0.162);
  height: 800px;
  padding: 3%;
  border: 2px solid black;
  margin-bottom: 3%;
}

#contact {
  color: #219ebc;
  margin: 1em;
  border-bottom: 0.08em solid #fb8500;
}

/**************Dashboard Page*****************/

.dashHeadContent {
  border-bottom: 0.08em solid #fb8500;
}

#dashboardContent {
  color: #219ebc;
}

#recommendations {
  font-size: 1.2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2em;
  padding: 1em 0;
  color: #6f1d1b;
}

.recCards {
  margin: 0.2em;
  padding: 0.4em;
  border: 0.1em solid rgba(129, 178, 154, 0.8);
  border-radius: 0.5em;
  line-height: 1.5;
}

.recCards:hover {
  background-color: rgba(251, 134, 0, 0.2);
}

.recCardsTitle {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 0.08em solid #adb5bd;
}

#contactDash {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 0.08em solid #fb8500;
  color: #219ebc;
}

#contactDash p,
#contact p {
  font-weight: bold;
  color: #9a031e;
}

#contactDash a,
#contact a {
  color: #540b0e;
}

#contactDash p,
#contactDash a,
#contact p,
#contact a {
  margin: 0 0 0.8em 0.5em;
}

#contactDash a:hover,
#contact a:hover {
  color: #fb8500;
}

#interactiveMapContainer {
  border: 0.2em solid #9a031e;
  border-radius: 1em;
  margin: 1em 2em;
  padding: 1em;
}

#interactiveMapContainer h2 {
  font-family: "Comfortaa", cursive;
  font-size: 2rem;
  font-weight: bold;
  color: #fb8500;
  margin: 0.5em 0;
  border-bottom: 0.08em solid #fb8500;
}

#interactiveMapContainer p {
  font-family: "Edu SA Beginner", cursive;
  font-size: 1.3rem;
  color: #219ebc;
  margin: 0.5em 0;
}

#copyRight {
  color: #540b0e;
  margin: 2em;
}

/*Media query is set for the cards to respond to the different screen sizes depending on the user's preference. */
@media screen and (max-width: 600px) {
  .card-content,
  .title {
    max-height: initial;
    font-size: 12px;
  }
}
